@import "./buttons.flat.scss";

.button {
    position: relative;

    align-items: center;
    display: flex;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: var(--border-radius);

    background-color: var(--surface-low);
    color: var(--primary);

    transition: filter 0.3s;

    cursor: pointer;
}

.button:hover,
.button:focus {
    filter: brightness(1.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

@keyframes bg {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: var(--primary);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

.button > * {
    position: relative;
}

.button {
    > .icon {
        margin-left: 12px;
        margin-right: 6px;
    }

    > span {
        display: block;
        margin: 12px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
    }

    > .icon + span {
        margin-left: 6px;
        padding-left: 0px;
    }
}

.button {
    > .icon:only-child {
        margin: 12px;
    }
}

.button:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: var(--surface-low);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button.active:before,
.button:active:before {
    background: var(--primary);
    width: 140%;
    padding-top: 120%;
    animation: bg 1s ease-out;
}

.button.active,
.button:active {
    color: var(--on-primary);
}

.button.disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: saturate(0);
    box-shadow: unset;
}

.button.passive {
    opacity: 0.7;
}

.button + .button {
    margin-left: 12px;
}

a + button {
    margin-left: 12px;
}

/*
BUTTON GROUPS
*/
.button-group {
    align-items: center;
    display: flex;

    &.tight {
        .button:first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        .button:last-child {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .button {
            border-radius: unset;
        }
        .button + .button {
            margin-left: unset;
        }
    }

    &.borders {
        .button {
            border: 1px solid var(--surface-med);
            border-right: 0px;
        }
        .button:last-child {
            border-right: 1px solid var(--surface-med);
        }
    }

    &.borders-top {
        .button:first-child {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 6px;
        }

        .button:last-child {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 6px;
        }
    }

    &.fit {
        > .button {
            flex: 1;
            span {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
