.overlay-container {
    position: fixed;
    z-index: 1000;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &::before {
        content: " ";
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background: black;
        opacity: 0.5;
        z-index: 999;
    }

    > .overlay {
        margin: auto;
        z-index: 10000;
       
        footer {
            display: flex;
            padding: var(--margin);
        }
    }
}
