.panel {
    display: flex;
    flex-direction: column;

    .group {
        display: flex;
        flex-direction: column;

        > .row {
            display: flex;
            > * {
                flex: 1;
                & + * {
                    margin-left: var(--margin);
                }
            }

            > * + * {
                filter: brightness(0.5);
            }
        }

        &.vertical {
            flex-direction: column;
        }
    }
}

.panel {
    .group.col-2 {
        > .row {
            > * {
                flex: 1 1 50%;
                margin: 10px !important;
            }
        }
    }
}
