.input.switch {
    width: 34px;
    height: 14px;
    position: relative;
    user-select: none;
    cursor: pointer;

    .track {
        width: 34px;
        height: 14px;
        opacity: 0.38;
        z-index: -1;
        border-radius: 7px;
        background: var(--color-grey-400);
        user-select: none;
        pointer-events: none;

        transition: var(--default-animation);
    }

    .thumb {
        position: absolute;
        top: -25%;
        width: 20px;
        height: 20px;
        right: 50%;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 50%;
        background-color: var(--primary);
        filter: saturate(0);
        user-select: none;
        pointer-events: none;

        transition: var(--default-animation);
    }

    &.checked {
        .track {
            background: var(--primary);
        }
        .thumb {
            right: 0;
            filter: saturate(1);
        }
    }
}

label + .switch {
    margin-left: 10px;
}
