@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

@import "./styles/colors/_colors.scss";
@import "./styles/colors/_notifications.scss";

@import "./styles/typography/_typography.scss";

@import "./styles/links/_links.scss";
@import "./styles/buttons/_buttons.scss";
@import "./styles/card/_card.scss";
@import "./styles/inputs/_inputs.scss";

@import "./styles/lists/_lists.scss";

@import "./styles/span/_span.scss";
@import "./styles/badges/_badges.scss";
@import "./styles/tags/_tags.scss";

@import "./styles/surface/_surface.scss";
@import "./styles/flex/_flex.scss";
@import "./styles/panel/_panel.scss";
@import "./styles/spacing/_spacing.scss";
@import "./styles/effects/effects.scss";

body {
    overflow-x: hidden;

    background: var(--surface);
    color: var(--on-surface);

    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 12px;

    font-weight: 600;
    letter-spacing: 0.0178571429em;

    display: flex;
    flex-direction: column;
    max-height: 100vh;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;

    letter-spacing: 0.03em;
}

.mobile {
    body {
        position: fixed;
        top: 0px;
        bottom: 0px;
    }
}
